:root {
  --fonte-principal: 'Inter', sans-serif;
  --fonte-peso-texto: 400;
  --fonte-peso-titulo: 500;
  --fonte-peso-titulo-maior: 600;
  --fonte-tamanho-base: 1rem;

  --cor-fundo: #F2F2F2;
  --vermelho-principal: #8E2424;
  --cinza-trabalhos: #EAECF0;
  --cinza-copy: #98A2B3;
  --cinza-footer: #F9FAFB;
  --fonte-cor-base: #667085;
  --fonte-cor-titulo: #101828;
}

html {
  font-family: var(--fonte-principal);
  font-size: var(--fonte-tamanho-base);
}

/* estilos cabecalho */
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  margin-bottom: 2rem;
}

.cabecalhoSecao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cabecalho__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 2rem;
}

.cabecalho__secao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.cabecalho__secao>li {
  font-weight: var(--fonte-peso-titulo);
  color: var(--fonte-cor-base);
}

.cabecalho__login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cabecalho__login>h1 {
  color: var(--fonte-cor-base);
}

.cabecalho__login--cadastrar {
  border-style: none;
  border-radius: 0.5rem;
  background-color: var(--vermelho-principal);
  color: var(--cor-fundo);
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-titulo);
  font-size: var(--fonte-tamanho-base);
  padding: 0.6rem 1.1rem;
}

/* estilos main */

/* Sobre */
.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.sobre>h2 {
  color: var(--vermelho-principal);
  font-weight: var(--fonte-peso-titulo-maior);
  line-height: 1.5rem;
}
.sobre>h1 {
  color: var(--fonte-cor-titulo);
  font-size: 3rem;
  font-weight: var(--fonte-peso-titulo-maior);
  line-height: 3.75rem;
}

.sobre>p {
  font-size: 1.25rem;
  font-weight: var(--fonte-peso-texto);
  text-align: center;
  line-height: 1.875rem;
  width: 45vw;
}

/* informações */

.informacoes {
  display: flex;
  flex-direction: row;
  gap: 4rem;  
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.informacoes__detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  gap: 1rem;
  width: 15vw;
}

.informacoes__detalhes>h1 {
  font-size: 3.75rem;
  font-weight: var(--fonte-peso-titulo-maior);
  line-height: 4.5rem;
  color: var(--vermelho-principal);
}

.informacoes__detalhes>h2 {
  font-size: 1.125rem;
  font-weight: var(--fonte-peso-titulo);
  color: var(--fonte-cor-titulo);
}

.informacoes__detalhes>p {
  color: var(--fonte-cor-base);
  font-weight: var(--fonte-peso-texto);
}

/* Conteúdo vagas */

.vagasAbertas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 6rem 0;
}

.vagasAbertas__conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vagasAbertas__titulo {
  border-style: none;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  color: var(--vermelho-principal);
  background: rgba(142, 36, 36, 0.05);
  font-size: 0.875rem;
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-titulo);  
}

.vagasAbertas__talentos {
  font-size: 2.25rem;
  font-weight: var(--fonte-peso-titulo-maior);
  color: var(--fonte-cor-titulo);
}

.vagasAbertas>p {
  font-size: 1.25rem;
  color: var(--fonte-cor-base);
  font-weight: var(--fonte-peso-texto);
}

/* Vagas */

.Vaga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding:  2rem;
}

.Vaga__titulo {
  font-size: 1.25rem;
  font-weight: var(--fonte-peso-titulo);
  width: 40vw;
  padding: 1rem;
}

.vagas {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 1.75rem 1.5rem;
  gap: 2rem;
  border: 1px solid var(--cinza-trabalhos);
  border-radius: 1rem;
  width: 40vw;
}

.vagas__titulo {
  font-size: 1.125rem;
  font-weight: var(--fonte-peso-titulo);
}

.vagas__descricao {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--fonte-cor-base);
  font-weight: var(--fonte-peso-titulo);
}